<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.AccessUvMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.server.pojo.AccessUv">
        <result column="ID" property="ID" />
        <result column="IP_ID" property="IP_ID" />
        <result column="DATETIME" property="DATETIME" />
        <result column="CREATE_TIME" property="CREATE_TIME" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        IP_ID, DATETIME, CREATE_TIME
    </sql>

</mapper>
