<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.server.pojo.Product">
        <id column="CONTENT_ID" property="CONTENT_ID" />
        <result column="IMAGE" property="IMAGE" />
        <result column="PIC" property="PIC" />
        <result column="PIC_TITLE" property="PIC_TITLE" />
        <result column="BRAND" property="BRAND" />
        <result column="PRO_TYPE" property="PRO_TYPE" />
        <result column="PRODUCT_CODE" property="PRODUCT_CODE" />
        <result column="OEM_CODE" property="OEM_CODE" />
        <result column="CHIP" property="CHIP" />
        <result column="COLOR" property="COLOR" />
        <result column="PAGE_YIELD" property="PAGE_YIELD" />
        <result column="SUITABLE_FOR" property="SUITABLE_FOR" />
        <result column="STOCK" property="STOCK" />
        <result column="PRICE" property="PRICE" />
        <result column="DESCRIPTION" property="DESCRIPTION" />
        <result column="PARAMETER" property="PARAMETER" />
        <result column="PRINCIPLE" property="PRINCIPLE" />
        <result column="COMPOSITION" property="COMPOSITION" />
        <result column="CONTENT" property="CONTENT" />
        <result column="VIDEO_URL" property="VIDEO_URL" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CONTENT_ID, IMAGE, PIC, PIC_TITLE, BRAND, PRO_TYPE, PRODUCT_CODE, OEM_CODE, CHIP, COLOR, PAGE_YIELD, SUITABLE_FOR, STOCK, PRICE, DESCRIPTION, PARAMETER, PRINCIPLE, COMPOSITION, CONTENT, VIDEO_URL
    </sql>

</mapper>
