<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.WebsiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.server.pojo.Website">
        <result column="ID" property="ID" />
        <result column="NAME" property="NAME" />
        <result column="LANGUAGE" property="LANGUAGE" />
        <result column="TITLE" property="TITLE" />
        <result column="KEYWORDS" property="KEYWORDS" />
        <result column="DESCRIPTION" property="DESCRIPTION" />
        <result column="TEL" property="TEL" />
        <result column="EMAIL" property="EMAIL" />
        <result column="ADDRESS" property="ADDRESS" />
        <result column="MIIBEIAN" property="MIIBEIAN" />
        <result column="COPY" property="COPY" />
        <result column="CODE" property="CODE" />
        <result column="IS_DEFAULT" property="IS_DEFAULT" />
        <result column="CREATE_TIME" property="CREATE_TIME" />
        <result column="SORT_ID" property="SORT_ID" />
        <result column="STATUS" property="STATUS" />
        <result column="IS_DEL" property="IS_DEL" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        NAME, LANGUAGE, TITLE, KEYWORDS, DESCRIPTION, TEL, EMAIL, ADDRESS, MIIBEIAN, COPY, CODE, IS_DEFAULT, CREATE_TIME, SORT_ID, STATUS, IS_DEL
    </sql>


    <select id="getWebsiteList" resultType="com.xxx.server.pojo.Website">
        select * from ${prefix}WEBSITE where IS_DEL = 0
        <if test="name!=null">
            and NAME like concat('%',#{name},'%')
        </if>
        limit #{start_limit},#{page_num} order by is_default desc,id asc
    </select>


    <select id="getWebsiteCount" resultType="Integer">
        select count(ID) as count from ${prefix}WEBSITE where IS_DEL = 0
        <if test="name!=null">
            and NAME like concat('%',#{name},'%')
        </if>
    </select>

</mapper>
