<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mapper.SystemAuditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.pojo.SystemAudit">
        <result column="ID" property="ID" />
        <result column="COMMENT_AUDIT" property="COMMENT_AUDIT" />
        <result column="CONTENT_AUDIT" property="CONTENT_AUDIT" />
        <result column="STATUS" property="STATUS" />
        <result column="IS_DEL" property="IS_DEL" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        COMMENT_AUDIT, CONTENT_AUDIT, STATUS, IS_DEL
    </sql>

</mapper>
