<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mapper.SystemGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.pojo.SystemGroup">
        <result column="ID" property="ID" />
        <result column="NAME" property="NAME" />
        <result column="RULE" property="RULE" />
        <result column="MENU_RULE" property="MENU_RULE" />
        <result column="CREATE_TIME" property="CREATE_TIME" />
        <result column="STATUS" property="STATUS" />
        <result column="IS_DEL" property="IS_DEL" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        NAME, RULE, MENU_RULE, CREATE_TIME, STATUS, IS_DEL
    </sql>

</mapper>
